@charset "utf-8"; 
@font-face { font-family: "copperplate"; src: url("https://use.typekit.net/af/bdd28f/000000000000000077359ed9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/bdd28f/000000000000000077359ed9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/bdd28f/000000000000000077359ed9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype"); font-display: auto; font-style: normal; font-weight: 300; }
@font-face { font-family: "copperplate"; src: url("https://use.typekit.net/af/96602a/000000000000000077359ede/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/96602a/000000000000000077359ede/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/96602a/000000000000000077359ede/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype"); font-display: auto; font-style: normal; font-weight: 500; }
@font-face { font-family: "copperplate"; src: url("https://use.typekit.net/af/a8277e/000000000000000077359ee2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/a8277e/000000000000000077359ee2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/a8277e/000000000000000077359ee2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype"); font-display: auto; font-style: normal; font-weight: 700; }

/* COMMON CSS */
html { scroll-behavior: unset !important; font-family: "copperplate",serif; }
*, ul, ol { font-family: "copperplate",serif; margin: 0; padding: 0; list-style-type: none; -webkit-box-sizing: border-box; box-sizing: border-box; }
*, a, a:active, a:focus, a:hover, button:focus { text-decoration: none; -webkit-box-shadow: none; box-shadow: none; outline: 0; }
[type=reset], [type=submit], button, html [type=button] { -webkit-appearance: none; -webkit-box-shadow: none; box-shadow: none; border: none; cursor: pointer; }
.btn.focus, .btn:focus { box-shadow: none; }
/* SELECTION CSS */
/* ::-moz-selection { background: #f35407; color: #fff; text-shadow: none; }
::selection { background: #f35407; color: #fff; text-shadow: none; } */

/* SCROLLBAR CSS */
/* ::-webkit-scrollbar { width: 3px; height: 3px; }
::-webkit-scrollbar-track { background: #FFF;  }
::-webkit-scrollbar-thumb { background: #154f39; border-radius: 5px; }
::-webkit-scrollbar-thumb:hover { background: #76b8a8;  } */

body { font-size: 16px; color: #676767; font-weight: 300; float: left; width: 100%; }
body p { font-size: 16px; font-weight: 300; color: #676767; margin-bottom: 10px; }
body a { color: #001529; }
body a:hover { cursor: pointer; color: #1890ff;
footer, section { width: 100%; position: relative; }
h1, h2, h3, h4, h5, h6 { font-weight: 300; } }

strong { font-weight: 500; }
.section-title { display: flex; flex-flow: row wrap; justify-content: center; align-items: center; }
.section-title h2 { font-size: 30px; font-weight: 600; color: #001528; text-align: center; width: 100%; margin-bottom: 40px; }


/* ABOUT PAGE */
.info-section .container { max-width: 970px; }
.info-section h2 { font-size: 24px; color: #4298E9; font-family: 'copperplate', serif; margin: 30px 0; }
.info-section h3 { font-size: 20px; color: #4b6a87; font-family: 'copperplate', serif; margin: 20px 0 15px; }
.info-section h6 { font-size: 16px; color: #4b6a87; font-family: 'copperplate', serif; margin: 20px 0; }
.info-section p { font-size: 13px; line-height: 18px; color: #4b6a87; font-family: 'Amiri', serif; margin-bottom: 20px; }
.info-section ul { margin-bottom: 20px;background: #fff;padding: 20px;border-radius: 20px;}
.info-section ul li { list-style-type: none; font-size: 15px; line-height: 24px;padding-left: 20px; color: #4b6a87; font-family: 'Amiri', serif; margin-bottom: 8px;position: relative;}
.info-section ul li:before{position: absolute;	content: '';width: 10px;height: 10px;border-radius: 60px; background: #4298E9;left: 0; top:7px;}
.info-section ul li a{ font-family: 'Amiri'; font-weight: 600;}
.info-section ol { padding-left: 40px; margin-bottom: 20px; }
.info-section ol li {  list-style-type: decimal; font-size: 15px; line-height: 24px; color: #4b6a87; font-family: 'Amiri', serif; margin-bottom: 8px; }

.top-header{ display: flex; margin:20px 0; }
.top-header img{ max-width: 30px; margin-right: 20px}
.top-header h2 {font-size:30px; font-family:copperplate; margin:0; text-align: center;width: 100%;}
.lr-about-section .lr-about-box{display: flex;flex-direction: column;align-items: center;background: #fff; border-radius: 20px;margin-top: 40px;justify-content: space-around; min-height: 200px;margin-bottom: 20px; box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.10);}
.lr-about-section .lr-about-box h4{display: flex;flex-direction: column; font-family:copperplate; color: #4298E9; font-size: 18px;}
.lr-about-section .lr-about-box span{background: #0C2A50; border-radius: 100px;height: 80px; width: 80px;margin: -40px 0 10px 0; display: flex;align-items: center;flex-direction: column;justify-content: center;}
.lr-about-section .lr-about-box span img{max-width: 40px; filter: invert(1);}
.lr-about-section .lr-about-box p{text-align: center;padding: 5px; font-size: 14px; font-family:Amiri;}
.lr-about-section {margin-bottom: 40px;}