@font-face {
    font-family: copperplate;
    src: url("<?php echo base_url();?>templates/admin/assets/css/fonts/Copperplate.ttf");
}
h1,h2,h3,h4,h5,h6,tr,td{ font-family: copperplate, "copperplate Gothic Light", fantasy; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; }

.copperplatefont{
	font-family:'Copperplate,Copperplate Gothic Light,fantasy';font-weight:normal;font-size:42px
}
